.logo{
  width: 150px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
}


.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media only screen and (min-device-width : 340px) and (max-device-width : 575px){
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 0px;
    margin-top: -70px;
  }
  .sidenav a {
      font-size: 14px;
    }
    .main{
     margin-top: 10px;
     margin-left: 0px;
     padding: 10px;
     position:relative;
    }
    .navbar ul{
    font-size: 14px;
    }
    .navbar{
        height: 90px;
    }
    .nav-item li{
    font-size: 14px;
    }
    .h1, h1{
      font-size: 24px;
    }
    .h6, h6{
      font-size: 12px;
    }
    .body, body{
      font-size: 12px;
    }
    .navbar-dark .navbar-brand {
      color: #ffc107;
    }
    .navbar-brand {
      font-size: 4.8vw;
    }
    .btn{
      font-size: 12px;
    }
    .form-control{
      font-size: 12px;
    }
    .form-control-sm{
      font-size: 12px;
    }
  
}



.whitetxt{
  color: white;
}


/* LOGIN */
.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(225,225,225, 0.8);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #ffffff;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #115ae0 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #115ae0 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
}